<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_LOCATION" value="C:/temp/" />
	<property name="LOG_MAX_FILE_SIZE" value="100MB" />
	<property name="LOG_MAX_HISTORY" value="60" /> <!-- In days -->
	<property name="LOG_TOTAL_SIZE_CAP" value="20GB" />

	<contextName>TemplateApplication</contextName>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_LOCATION}/template.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>template-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, 
				but at most 20GB -->
			<maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
			<maxHistory>${LOG_MAX_HISTORY}</maxHistory>
			<totalSizeCap>${LOG_TOTAL_SIZE_CAP}</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="template.logger">
		<appender-ref ref="FILE" />
	</logger>

	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
